<%- include("header")-%>

<h2>About </h2>
<br>
<p>
  Boost your daily productivity by keeping track of the tasks you got to accomplish throughtout the day .
  <br>
  This web app helps you to add new tasks to your daily routine and check those items complete if completed .
  <br>
  It has another feature of keeping a track of the work list.
</p>
<%- include("footer")-%>
